In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns
# import torch.nn as nn
# from torch.utils.data import DataLoader
# import torch.optim as optim
# import torch
from sklearn.model_selection import train_test_split
import os
import sys

In [2]:
# Set the root directory of your repo as part of the path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

In [3]:
data = pd.read_csv('../data/combined/full_raw_data.csv')
pd.set_option('display.max_columns', None)
data

,Date,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,YEAR,GAME_DATE_EST
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,22,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.356,0.600,0.250,26,39,12,2012-2013,NaN
1,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,20,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,94,0.456,0.682,0.350,22,54,20,2012-2013,NaN
2,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,31,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,107,0.520,0.821,0.462,24,41,15,2012-2013,NaN
3,2012-10-30,2,21200002,1610612748,MIA,Miami,1-0,31,31,31,27,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,120,0.544,0.813,0.500,25,36,8,2012-2013,NaN
4,2012-10-30,3,21200003,1610612742,DAL,Dallas,1-0,25,23,26,25,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,99,0.471,0.778,0.333,22,40,11,2012-2013,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17221,2019-04-10,9,21801228,1610612743,DEN,Denver,54-28,22,29,22,26,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,99,0.448,0.647,0.303,23,53,12,2018-2019,NaN
17222,2019-04-10,10,21801229,1610612762,UTA,Utah,50-32,26,40,31,29,11,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,137,0.443,0.879,0.400,31,57,17,2018-2019,NaN
17223,2019-04-10,10,21801229,1610612746,LAC,LA,48-34,39,31,32,24,17,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,143,0.509,0.767,0.429,34,52,12,2018-2019,NaN
17224,2019-04-10,11,21801230,1610612758,SAC,Sacramento,39-43,39,48,26,18,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,131,0.521,0.813,0.419,25,35,10,2018-2019,NaN
17225,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,38,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,136,0.582,0.727,0.583,19,44,12,2018-2019,NaN

In [4]:
df = data.copy()

In [5]:
from src.data.preprocess import (
    combine_team_rows,
    add_home_win_column,
    split_wins_losses,
    add_playoff_indicator,
    combine_date_columns,
    remove_all_star_and_playoff_games,
    create_ml_dataset

)

df = combine_team_rows(data)
df = add_home_win_column(df)
df = split_wins_losses(df)
df = add_playoff_indicator(df)
df = combine_date_columns(df)
df = remove_all_star_and_playoff_games(df)
df = create_ml_dataset(df)

/Users/lathangregg/Documents/MSDS/Spring25/DS6050_DL/Project/DL_project/src/data/preprocess.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['a_SEASON_GAMES_PLAYED'] = df['a_WINS'] + df['a_LOSSES']
/Users/lathangregg/Documents/MSDS/Spring25/DS6050_DL/Project/DL_project/src/data/preprocess.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['h_SEASON_GAMES_PLAYED'] = df['h_WINS'] + df['h_LOSSES']

In [6]:
df

,GAME_ID,GAME_SEQUENCE,Date,YEAR,GAME_DATE_EST,a_index,a_TEAM_ID,a_TEAM_WINS_LOSSES,a_PTS,a_FG_PCT,a_FT_PCT,a_FG3_PCT,a_AST,a_REB,a_TOV,h_index,h_TEAM_ID,h_TEAM_WINS_LOSSES,h_PTS,h_FG_PCT,h_FT_PCT,h_FG3_PCT,h_AST,h_REB,h_TOV,HOME_WIN,a_WINS,a_LOSSES,h_WINS,h_LOSSES,a_SEASON_GAMES_PLAYED,h_SEASON_GAMES_PLAYED,IS_PLAYOFF_GAME,a_season_PTS_lag,a_season_AST_lag,a_season_REB_lag,a_season_TOV_lag,a_season_FG_PCT_avg,a_season_FT_PCT_avg,a_season_FG3_PCT_avg,a_WIN_PCT,a_WIN_PCT_LAST10,h_season_PTS_lag,h_season_AST_lag,h_season_REB_lag,h_season_TOV_lag,h_season_FG_PCT_avg,h_season_FT_PCT_avg,h_season_FG3_PCT_avg,h_WIN_PCT,h_WIN_PCT_LAST10
0,21200001,1,2012-10-30,2012-2013,NaT,1,1610612739,1-0,94,0.456,0.682,0.350,22,54,20,0,1610612764,0-1,84,0.356,0.600,0.250,26,39,12,0,0,0,0,0,0,0,0,0,0,0,0,0.465846,0.804308,0.361782,NaN,NaN,0,0,0,0,0.448566,0.772697,0.339461,NaN,NaN
1,21200002,2,2012-10-30,2012-2013,NaT,2,1610612738,0-1,107,0.520,0.821,0.462,24,41,15,3,1610612748,1-0,120,0.544,0.813,0.500,25,36,8,1,0,0,0,0,0,0,0,0,0,0,0,0.451780,0.751817,0.350976,NaN,NaN,0,0,0,0,0.471600,0.683800,0.320200,NaN,NaN
2,21200003,3,2012-10-30,2012-2013,NaT,4,1610612742,1-0,99,0.471,0.778,0.333,22,40,11,5,1610612747,0-1,91,0.494,0.387,0.231,24,46,14,0,0,0,0,0,0,0,0,0,0,0,0,0.452739,0.786101,0.344986,NaN,NaN,0,0,0,0,0.480692,0.803808,0.365885,NaN,NaN
3,21200004,1,2012-10-31,2012-2013,NaT,6,1610612754,1-0,90,0.474,0.688,0.455,22,46,18,7,1610612761,0-1,88,0.363,0.842,0.353,18,42,10,0,0,0,0,0,0,0,0,0,0,0,0,0.456184,0.779842,0.359789,NaN,NaN,0,0,0,0,0.454478,0.714000,0.349896,NaN,NaN
4,21200005,2,2012-10-31,2012-2013,NaT,8,1610612743,0-1,75,0.375,0.455,0.222,19,54,20,9,1610612755,1-0,84,0.353,0.810,0.280,18,47,15,1,0,0,0,0,0,0,0,0,0,0,0,0.446300,0.740671,0.340429,NaN,NaN,0,0,0,0,0.477140,0.743980,0.374400,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8605,21801226,7,2019-04-10,2018-2019,NaT,17217,1610612749,60-22,116,0.430,0.714,0.326,27,53,14,17216,1610612760,49-33,127,0.485,0.615,0.426,40,53,12,1,60,21,48,33,81,81,0,5684,1248,2329,630,0.476958,0.784458,0.358021,0.740741,0.5,7551,1516,3194,897,0.454015,0.715500,0.348742,0.592593,0.5
8606,21801227,8,2019-04-10,2018-2019,NaT,17218,1610612742,33-49,94,0.407,0.750,0.297,27,42,7,17219,1610612759,48-34,105,0.466,0.833,0.333,22,53,10,1,33,48,47,34,81,81,0,7494,1611,3134,936,0.446870,0.740536,0.341058,0.407407,0.5,7008,1541,2802,745,0.477413,0.819921,0.392302,0.580247,0.6
8607,21801228,9,2019-04-10,2018-2019,NaT,17221,1610612743,54-28,99,0.448,0.647,0.303,23,53,12,17220,1610612750,36-46,95,0.429,0.667,0.406,24,41,10,0,53,28,36,45,81,81,0,7246,1787,3036,846,0.464621,0.766652,0.349333,0.654321,0.4,4070,889,1618,443,0.453472,0.787917,0.352389,0.444444,0.4
8608,21801229,10,2019-04-10,2018-2019,NaT,17223,1610612746,48-34,143,0.509,0.767,0.429,34,52,12,17222,1610612762,50-32,137,0.443,0.879,0.400,31,57,17,0,47,34,50,31,81,81,0,6283,1295,2521,757,0.467218,0.783073,0.397018,0.580247,0.7,7956,1856,3295,1042,0.469817,0.735549,0.352423,0.617284,0.8
8609,21801230,11,2019-04-10,2018-2019,NaT,17225,1610612757,53-29,136,0.582,0.727,0.583,19,44,12,17224,1610612758,39-43,131,0.521,0.813,0.419,25,35,10,0,52,29,39,42,81,81,0,2920,602,1218,356,0.462577,0.826885,0.350846,0.641975,0.4,6705,1482,2651,725,0.463741,0.728431,0.375362,0.481481,0.4

In [6]:
data[20:30]

,Date,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,YEAR,GAME_DATE_EST
20,2012-10-31,8,21200011,1610612763,MEM,Memphis,0-1,24,29,24,15,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,92,0.384,0.800,0.143,24,44,18,2012-2013,NaN
21,2012-10-31,8,21200011,1610612746,LAC,Los Angeles,1-0,26,23,24,28,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,101,0.514,0.690,0.333,25,39,22,2012-2013,NaN
22,2012-10-31,9,21200012,1610612747,LAL,Los Angeles,0-2,26,31,19,30,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,106,0.500,0.813,0.444,21,45,24,2012-2013,NaN
23,2012-10-31,9,21200012,1610612757,POR,Portland,1-0,30,32,30,24,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,116,0.506,0.821,0.450,19,30,12,2012-2013,NaN
24,2012-11-01,1,21200014,1610612760,OKC,Oklahoma City,0-1,24,16,26,18,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.377,0.826,0.412,18,48,18,2012-2013,NaN
25,2012-11-01,1,21200014,1610612759,SAS,San Antonio,2-0,21,24,21,20,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,86,0.443,0.688,0.263,27,39,13,2012-2013,NaN
26,2012-11-02,1,21200015,1610612754,IND,Indiana,1-1,20,23,27,19,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,89,0.398,0.593,0.269,19,52,17,2012-2013,NaN
27,2012-11-02,1,21200015,1610612766,CHA,Charlotte,1-0,17,22,35,16,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,90,0.365,0.875,0.368,18,41,10,2012-2013,NaN
28,2012-11-02,2,21200016,1610612743,DEN,Denver,0-2,18,19,31,21,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,89,0.381,0.667,0.269,22,45,14,2012-2013,NaN
29,2012-11-02,2,21200016,1610612753,ORL,Orlando,1-0,29,29,20,24,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,102,0.488,0.722,0.333,24,46,11,2012-2013,NaN

In [7]:
df.head(20)

,GAME_ID,GAME_SEQUENCE,Date,YEAR,GAME_DATE_EST,a_index,a_TEAM_ID,a_TEAM_ABBREVIATION,a_TEAM_CITY_NAME,a_TEAM_WINS_LOSSES,a_PTS_QTR1,a_PTS_QTR2,a_PTS_QTR3,a_PTS_QTR4,a_PTS_OT1,a_PTS_OT2,a_PTS_OT3,a_PTS_OT4,a_PTS_OT5,a_PTS_OT6,a_PTS_OT7,a_PTS_OT8,a_PTS_OT9,a_PTS_OT10,a_PTS,a_FG_PCT,a_FT_PCT,a_FG3_PCT,a_AST,a_REB,a_TOV,h_index,h_TEAM_ID,h_TEAM_ABBREVIATION,h_TEAM_CITY_NAME,h_TEAM_WINS_LOSSES,h_PTS_QTR1,h_PTS_QTR2,h_PTS_QTR3,h_PTS_QTR4,h_PTS_OT1,h_PTS_OT2,h_PTS_OT3,h_PTS_OT4,h_PTS_OT5,h_PTS_OT6,h_PTS_OT7,h_PTS_OT8,h_PTS_OT9,h_PTS_OT10,h_PTS,h_FG_PCT,h_FT_PCT,h_FG3_PCT,h_AST,h_REB,h_TOV,HOME_WIN,a_WINS,a_LOSSES,h_WINS,h_LOSSES,a_SEASON_GAMES_PLAYED,h_SEASON_GAMES_PLAYED,IS_PLAYOFF_GAME
0,21200001,1,2012-10-30,2012-2013,NaT,1,1610612739,CLE,Cleveland,1-0,31,19,24,20,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,94,0.456,0.682,0.350,22,54,20,0,1610612764,WAS,Washington,0-1,24,15,23,22,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.356,0.600,0.250,26,39,12,0,0,0,0,0,0,0,0
1,21200002,2,2012-10-30,2012-2013,NaT,2,1610612738,BOS,Boston,0-1,25,29,22,31,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,107,0.520,0.821,0.462,24,41,15,3,1610612748,MIA,Miami,1-0,31,31,31,27,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,120,0.544,0.813,0.500,25,36,8,1,0,0,0,0,0,0,0
2,21200003,3,2012-10-30,2012-2013,NaT,4,1610612742,DAL,Dallas,1-0,25,23,26,25,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,99,0.471,0.778,0.333,22,40,11,5,1610612747,LAL,Los Angeles,0-1,29,17,20,25,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,91,0.494,0.387,0.231,24,46,14,0,0,0,0,0,0,0,0
3,21200004,1,2012-10-31,2012-2013,NaT,6,1610612754,IND,Indiana,1-0,27,21,15,27,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,90,0.474,0.688,0.455,22,46,18,7,1610612761,TOR,Toronto,0-1,25,23,23,17,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,88,0.363,0.842,0.353,18,42,10,0,0,0,0,0,0,0,0
4,21200005,2,2012-10-31,2012-2013,NaT,8,1610612743,DEN,Denver,0-1,22,16,14,23,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,75,0.375,0.455,0.222,19,54,20,9,1610612755,PHI,Philadelphia,1-0,25,21,19,19,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.353,0.810,0.280,18,47,15,1,0,0,0,0,0,0,0
5,21200006,3,2012-10-31,2012-2013,NaT,10,1610612745,HOU,Houston,1-0,27,28,17,33,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,105,0.494,0.739,0.370,28,45,20,11,1610612765,DET,Detroit,0-1,22,36,23,15,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,96,0.443,0.769,0.375,21,36,16,0,0,0,0,0,0,0,0
6,21200007,4,2012-10-31,2012-2013,NaT,13,1610612741,CHI,Chicago,1-0,25,19,25,24,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,93,0.418,0.758,0.222,21,46,18,12,1610612758,SAC,Sacramento,0-1,23,17,23,24,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,87,0.405,0.813,0.353,14,40,19,0,0,0,0,0,0,0,0
7,21200008,5,2012-10-31,2012-2013,NaT,15,1610612740,NOH,New Orleans,0-1,31,19,21,24,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,95,0.438,0.913,0.235,26,43,13,14,1610612759,SAS,San Antonio,1-0,28,15,28,28,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,99,0.475,0.654,0.300,22,43,15,1,0,0,0,0,0,0,0
8,21200009,6,2012-10-31,2012-2013,NaT,16,1610612742,DAL,Dallas,1-1,26,37,13,18,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,94,0.376,0.731,0.500,20,40,16,17,1610612762,UTA,Utah,1-0,25,30,37,21,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,113,0.427,0.738,0.429,24,61,14,1,1,0,0,0,1,0,0
9,21200010,7,2012-10-31,2012-2013,NaT,18,1610612744,GSW,Golden State,1-0,25,23,17,22,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,87,0.384,0.696,0.294,19,49,18,19,1610612756,PHX,Phoenix,0-1,21,21,25,18,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,85,0.400,0.773,0.190,16,44,18,0,0,0,0,0,0,0,0
10,21200011,8,2012-10-31,2012-2013,NaT,21,1610612746,LAC,Los Angeles,1-0,26,23,24,28,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,101,0.514,0.690,0.333,25,39,22,20,1610612763,MEM,Memphis,0-1,24,29,24,15,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,92,0.384,0.800,0.143,24,44,18,0,0,0,0,0,0,0,0
11,21200012,9,2012-10-31,2012-2013,NaT,22,1610612747,LAL,Los Angeles,0-2,26,31,19,30,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,106,0.500,0.813,0.444,21,45,24,23,1610612757,POR,Portland,1-0,30,32,30,24,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,116,0.506,0.821,0.450,19,30,12,1,0,1,0,0,1,0,0
12,21200013,1,2012-11-26,2012-2013,NaT,391,1610612751,BKN,Brooklyn,9-4,26,19,23,16,12,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,96,0.407,0.684,0.321,23,50,12,390,1610612752,NYK,New York,9-4,23,24,20,17,5,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,89,0.388,0.708,0.286,14,50,14,0,8,4,9,3,12,12,0
13,21200014,1,2012-11-01,2012-2013,NaT,25,1610612759,SAS,San Antonio,2-0,21,24,21,20,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,86,0.443,0.688,0.263,27,39,13,24,1610612760,OKC,Oklahoma City,0-1,24,16,26,18,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.377,0.826,0.412,18,48,18,0,1,0,0,0,1,0,0
14,21200015,1,2012-11-02,2012-2013,NaT,26,1610612754,IND,Indiana,1-1,20,23,27,19,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,89,0.398,0.593,0.269,19,52,17,27,1610612766,CHA,Charlotte,1-0,17,22,35,16,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,90,0.365,0.875,0.368,18,41,10,1,1,0,0,0,1,0,0
15,21200016,2,2012-11-02,2012-2013,NaT,28,1610612743,DEN,Denver,0-2,18,19,31,21,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,89,0.381,0.667,0.269,22,45,14,29,1610612753,ORL,Orlando,1-0,29,29,20,24,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,102,0.488,0.722,0.333,24,46,11,1,0,1,0,0,1,0,0
16,21200017,3,2012-11-02,2012-2013,NaT,31,1610612738,BOS,Boston,0-2,18,12,28,30,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,88,0.446,0.810,0.357,22,36,18,30,1610612749,MIL,Milwaukee,1-0,25,21,30,23,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,99,0.465,0.917,0.444,26,46,18,1,0,1,0,0,1,0,0
17,21200018,4,2012-11-02,2012-2013,NaT,33,1610612737,ATL,Atlanta,0-1,21,23,30,28,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,102,0.471,0.882,0.318,23,36,13,32,1610612745,HOU,Houston,2-0,28,25,28,28,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,109,0.422,0.862,0.267,22,58,21,1,0,0,1,0,0,1,0
18,21200019,5,2012-11-02,2012-2013,NaT,35,1610612739,CLE,Cleveland,1-1,16,19,21,30,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,86,0.405,0.519,0.400,23,33,17,34,1610612741,CHI,Chicago,2-0,32,28,23,32,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,115,0.638,0.767,0.400,34,41,17,1,1,0,1,0,1,1,0
19,21200020,6,2012-11-02,2012-2013,NaT,36,1610612748,MIA,Miami,1-1,17,27,19,21,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.465,0.846,0.350,18,41,21,37,1610612752,NYK,New York,1-0,33,22,26,23,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,104,0.429,0.867,0.528,27,41,12,1,1,0,0,0,1,0,0

In [37]:
df['Date']

0       2012-10-30
1       2012-10-30
2       2012-10-30
3       2012-10-31
4       2012-10-31
           ...
8608    2019-04-10
8609    2019-04-10
8610           NaN
8611           NaN
8612           NaN
Name: Date, Length: 8613, dtype: object

In [9]:
# write df to csv
output_path = '../data/combined/full_lathan.csv'
df.to_csv(output_path, index=False)

In [38]:
# Check type and sample values
print(df['Date'].dtype)
print(df['Date'].head(10))
print(all_star_dates)

object
0    2012-10-30
1    2012-10-30
2    2012-10-30
3    2012-10-31
4    2012-10-31
5    2012-10-31
6    2012-10-31
7    2012-10-31
8    2012-10-31
9    2012-10-31
Name: Date, dtype: object
DatetimeIndex(['2012-02-26', '2013-02-17', '2014-02-16', '2015-02-15',
               '2016-02-14', '2017-02-19', '2018-02-18', '2019-02-17'],
              dtype='datetime64[ns]', freq=None)

In [43]:
# List of All-Star game dates as strings
all_star_dates_str = [
    '2012-02-26',
    '2013-02-17',
    '2014-02-16',
    '2015-02-15',
    '2016-02-14',
    '2017-02-19',
    '2018-02-18',
    '2019-02-17'
]

# Convert both columns to string date format (if present and not null)
df['Date_str'] = pd.to_datetime(df['Date'], errors='coerce').dt.strftime('%Y-%m-%d')
df['GAME_DATE_EST_str'] = pd.to_datetime(df['GAME_DATE_EST'], errors='coerce').dt.strftime('%Y-%m-%d')

# Filter rows where either date column matches an All-Star date
all_star_games = df[
    df['Date_str'].isin(all_star_dates_str) |
    df['GAME_DATE_EST_str'].isin(all_star_dates_str)
]

# Display result
all_star_games

,GAME_ID,GAME_SEQUENCE,Date,YEAR,GAME_DATE_EST,a_index,a_TEAM_ID,a_TEAM_ABBREVIATION,a_TEAM_CITY_NAME,a_TEAM_WINS_LOSSES,a_PTS_QTR1,a_PTS_QTR2,a_PTS_QTR3,a_PTS_QTR4,a_PTS_OT1,a_PTS_OT2,a_PTS_OT3,a_PTS_OT4,a_PTS_OT5,a_PTS_OT6,a_PTS_OT7,a_PTS_OT8,a_PTS_OT9,a_PTS_OT10,a_PTS,a_FG_PCT,a_FT_PCT,a_FG3_PCT,a_AST,a_REB,a_TOV,h_index,h_TEAM_ID,h_TEAM_ABBREVIATION,h_TEAM_CITY_NAME,h_TEAM_WINS_LOSSES,h_PTS_QTR1,h_PTS_QTR2,h_PTS_QTR3,h_PTS_QTR4,h_PTS_OT1,h_PTS_OT2,h_PTS_OT3,h_PTS_OT4,h_PTS_OT5,h_PTS_OT6,h_PTS_OT7,h_PTS_OT8,h_PTS_OT9,h_PTS_OT10,h_PTS,h_FG_PCT,h_FT_PCT,h_FG3_PCT,h_AST,h_REB,h_TOV,HOME_WIN,a_WINS,a_LOSSES,h_WINS,h_LOSSES,a_SEASON_GAMES_PLAYED,h_SEASON_GAMES_PLAYED,IS_PLAYOFF_GAME,Date_str,GAME_DATE_EST_str
8610,31500001,1,NaN,2015-2016,2016-02-14,8983,1610616833,EST,East NBA All Stars,0-1,43,47,46,37,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,173,0.547,0.600,0.339,34,57,24,8982,1610616834,WST,West NBA All Stars,1-0,40,52,53,51,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,196,0.550,0.500,0.388,51,59,14,1,0,0,0,0,0,0,0,NaN,2016-02-14
8611,31600001,1,NaN,2016-2017,2017-02-19,11540,1610616833,EST,East NBA All Stars,0-1,53,39,47,43,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,182,0.569,1.000,0.373,43,50,19,11541,1610616834,WST,West NBA All Stars,1-0,48,49,47,48,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,192,0.587,0.750,0.333,60,61,17,1,0,0,0,0,0,0,0,NaN,2017-02-19
8612,31700001,1,NaN,2017-2018,2018-02-18,14034,1610616833,LBN,Team,1-0,31,45,33,39,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,148,0.517,0.833,0.328,40,49,14,14035,1610616834,STP,Team,0-1,42,36,34,33,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,145,0.444,0.818,0.262,35,68,17,0,0,0,0,0,0,0,0,NaN,2018-02-18

In [46]:
# Convert both columns to datetime (if not already)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['GAME_DATE_EST'] = pd.to_datetime(df['GAME_DATE_EST'], errors='coerce')

# Create Date_temp: use 'Date' if available, else fallback to 'GAME_DATE_EST'
df['Date_temp'] = df['Date'].combine_first(df['GAME_DATE_EST'])

# Overwrite 'Date' with cleaned version
df['Date'] = df['Date_temp']

# Drop the temp column
df.drop(columns='Date_temp', inplace=True)

df.head()

,GAME_ID,GAME_SEQUENCE,Date,YEAR,GAME_DATE_EST,a_index,a_TEAM_ID,a_TEAM_ABBREVIATION,a_TEAM_CITY_NAME,a_TEAM_WINS_LOSSES,a_PTS_QTR1,a_PTS_QTR2,a_PTS_QTR3,a_PTS_QTR4,a_PTS_OT1,a_PTS_OT2,a_PTS_OT3,a_PTS_OT4,a_PTS_OT5,a_PTS_OT6,a_PTS_OT7,a_PTS_OT8,a_PTS_OT9,a_PTS_OT10,a_PTS,a_FG_PCT,a_FT_PCT,a_FG3_PCT,a_AST,a_REB,a_TOV,h_index,h_TEAM_ID,h_TEAM_ABBREVIATION,h_TEAM_CITY_NAME,h_TEAM_WINS_LOSSES,h_PTS_QTR1,h_PTS_QTR2,h_PTS_QTR3,h_PTS_QTR4,h_PTS_OT1,h_PTS_OT2,h_PTS_OT3,h_PTS_OT4,h_PTS_OT5,h_PTS_OT6,h_PTS_OT7,h_PTS_OT8,h_PTS_OT9,h_PTS_OT10,h_PTS,h_FG_PCT,h_FT_PCT,h_FG3_PCT,h_AST,h_REB,h_TOV,HOME_WIN,a_WINS,a_LOSSES,h_WINS,h_LOSSES,a_SEASON_GAMES_PLAYED,h_SEASON_GAMES_PLAYED,IS_PLAYOFF_GAME,Date_str,GAME_DATE_EST_str
0,21200001,1,2012-10-30,2012-2013,NaT,1,1610612739,CLE,Cleveland,1-0,31,19,24,20,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,94,0.456,0.682,0.350,22,54,20,0,1610612764,WAS,Washington,0-1,24,15,23,22,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.356,0.600,0.250,26,39,12,0,0,0,0,0,0,0,0,2012-10-30,NaN
1,21200002,2,2012-10-30,2012-2013,NaT,2,1610612738,BOS,Boston,0-1,25,29,22,31,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,107,0.520,0.821,0.462,24,41,15,3,1610612748,MIA,Miami,1-0,31,31,31,27,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,120,0.544,0.813,0.500,25,36,8,1,0,0,0,0,0,0,0,2012-10-30,NaN
2,21200003,3,2012-10-30,2012-2013,NaT,4,1610612742,DAL,Dallas,1-0,25,23,26,25,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,99,0.471,0.778,0.333,22,40,11,5,1610612747,LAL,Los Angeles,0-1,29,17,20,25,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,91,0.494,0.387,0.231,24,46,14,0,0,0,0,0,0,0,0,2012-10-30,NaN
3,21200004,1,2012-10-31,2012-2013,NaT,6,1610612754,IND,Indiana,1-0,27,21,15,27,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,90,0.474,0.688,0.455,22,46,18,7,1610612761,TOR,Toronto,0-1,25,23,23,17,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,88,0.363,0.842,0.353,18,42,10,0,0,0,0,0,0,0,0,2012-10-31,NaN
4,21200005,2,2012-10-31,2012-2013,NaT,8,1610612743,DEN,Denver,0-1,22,16,14,23,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,75,0.375,0.455,0.222,19,54,20,9,1610612755,PHI,Philadelphia,1-0,25,21,19,19,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,84,0.353,0.810,0.280,18,47,15,1,0,0,0,0,0,0,0,2012-10-31,NaN

In [47]:
df[['Date', 'GAME_DATE_EST', 'GAME_DATE_EST_str']].isna().sum()

Date                    0
GAME_DATE_EST        4920
GAME_DATE_EST_str    4920
dtype: int64

In [42]:
# show games h_TEAM_ABBREVIATION or a_TEAM_ABBREVIATION is WST
df[(df['h_TEAM_ABBREVIATION'] == 'WST') | (df['a_TEAM_ABBREVIATION'] == 'WST')]

,GAME_ID,GAME_SEQUENCE,Date,YEAR,GAME_DATE_EST,a_index,a_TEAM_ID,a_TEAM_ABBREVIATION,a_TEAM_CITY_NAME,a_TEAM_WINS_LOSSES,a_PTS_QTR1,a_PTS_QTR2,a_PTS_QTR3,a_PTS_QTR4,a_PTS_OT1,a_PTS_OT2,a_PTS_OT3,a_PTS_OT4,a_PTS_OT5,a_PTS_OT6,a_PTS_OT7,a_PTS_OT8,a_PTS_OT9,a_PTS_OT10,a_PTS,a_FG_PCT,a_FT_PCT,a_FG3_PCT,a_AST,a_REB,a_TOV,h_index,h_TEAM_ID,h_TEAM_ABBREVIATION,h_TEAM_CITY_NAME,h_TEAM_WINS_LOSSES,h_PTS_QTR1,h_PTS_QTR2,h_PTS_QTR3,h_PTS_QTR4,h_PTS_OT1,h_PTS_OT2,h_PTS_OT3,h_PTS_OT4,h_PTS_OT5,h_PTS_OT6,h_PTS_OT7,h_PTS_OT8,h_PTS_OT9,h_PTS_OT10,h_PTS,h_FG_PCT,h_FT_PCT,h_FG3_PCT,h_AST,h_REB,h_TOV,HOME_WIN,a_WINS,a_LOSSES,h_WINS,h_LOSSES,a_SEASON_GAMES_PLAYED,h_SEASON_GAMES_PLAYED,IS_PLAYOFF_GAME,Date_str
8610,31500001,1,NaN,2015-2016,2016-02-14,8983,1610616833,EST,East NBA All Stars,0-1,43,47,46,37,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,173,0.547,0.6,0.339,34,57,24,8982,1610616834,WST,West NBA All Stars,1-0,40,52,53,51,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,196,0.550,0.50,0.388,51,59,14,1,0,0,0,0,0,0,0,NaN
8611,31600001,1,NaN,2016-2017,2017-02-19,11540,1610616833,EST,East NBA All Stars,0-1,53,39,47,43,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,182,0.569,1.0,0.373,43,50,19,11541,1610616834,WST,West NBA All Stars,1-0,48,49,47,48,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,192,0.587,0.75,0.333,60,61,17,1,0,0,0,0,0,0,0,NaN

In [41]:
df[df['GAME_ID'] == '31500001']

Empty DataFrame
Columns: [GAME_ID, GAME_SEQUENCE, Date, YEAR, GAME_DATE_EST, a_index, a_TEAM_ID, a_TEAM_ABBREVIATION, a_TEAM_CITY_NAME, a_TEAM_WINS_LOSSES, a_PTS_QTR1, a_PTS_QTR2, a_PTS_QTR3, a_PTS_QTR4, a_PTS_OT1, a_PTS_OT2, a_PTS_OT3, a_PTS_OT4, a_PTS_OT5, a_PTS_OT6, a_PTS_OT7, a_PTS_OT8, a_PTS_OT9, a_PTS_OT10, a_PTS, a_FG_PCT, a_FT_PCT, a_FG3_PCT, a_AST, a_REB, a_TOV, h_index, h_TEAM_ID, h_TEAM_ABBREVIATION, h_TEAM_CITY_NAME, h_TEAM_WINS_LOSSES, h_PTS_QTR1, h_PTS_QTR2, h_PTS_QTR3, h_PTS_QTR4, h_PTS_OT1, h_PTS_OT2, h_PTS_OT3, h_PTS_OT4, h_PTS_OT5, h_PTS_OT6, h_PTS_OT7, h_PTS_OT8, h_PTS_OT9, h_PTS_OT10, h_PTS, h_FG_PCT, h_FT_PCT, h_FG3_PCT, h_AST, h_REB, h_TOV, HOME_WIN, a_WINS, a_LOSSES, h_WINS, h_LOSSES, a_SEASON_GAMES_PLAYED, h_SEASON_GAMES_PLAYED, IS_PLAYOFF_GAME, Date_str]
Index: []

In [14]:
data.dtypes

Date                  object
GAME_SEQUENCE          int64
GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY_NAME        object
TEAM_WINS_LOSSES      object
PTS_QTR1               int64
PTS_QTR2               int64
PTS_QTR3               int64
PTS_QTR4               int64
PTS_OT1                int64
PTS_OT2                int64
PTS_OT3                int64
PTS_OT4                int64
PTS_OT5              float64
PTS_OT6              float64
PTS_OT7              float64
PTS_OT8              float64
PTS_OT9              float64
PTS_OT10             float64
PTS                    int64
FG_PCT               float64
FT_PCT               float64
FG3_PCT              float64
AST                    int64
REB                    int64
TOV                    int64
YEAR                  object
GAME_DATE_EST         object
dtype: object

In [12]:
# split wins and losses
data['WINS'] = data['TEAM_WINS_LOSSES'].str.split('-')[0].astype(int)
data['LOSSES'] = data['TEAM_WINS_LOSSES'].str.split('-')[1].astype(int)
data.head()

AttributeError: 'list' object has no attribute 'astype'

In [ ]:
# drop all star and playoff games

# data['is_playoff'] = 1 if data['TEAM_WINS_LOSSES']

In [ ]:
data

In [7]:
data.describe()

,GAME_SEQUENCE,GAME_ID,TEAM_ID,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,AVG_PTS,AVG_FG_PCT,AVG_FG3_PCT,AVG_FT_PCT,AVG_AST,AVG_REB,AVG_TOV,AVG_PTS_QTR1,AVG_PTS_QTR2,AVG_PTS_QTR3,AVG_PTS_QTR4,AVG_PTS_OT1,AVG_PTS_OT2,AVG_PTS_OT3,AVG_PTS_OT4,AVG_PTS_OT5,AVG_PTS_OT6,AVG_PTS_OT7,AVG_PTS_OT8,AVG_PTS_OT9,AVG_PTS_OT10
count,17226.000000,1.722600e+04,1.722600e+04,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17224.0,17224.0,17224.0,17224.0,17224.0,17224.0,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.000000,17226.0,17226.0,17226.0,17226.0,17226.0,17226.0
mean,4.863694,2.150413e+07,1.610613e+09,25.948102,26.021944,25.592767,25.298038,0.606699,0.090561,0.016545,0.004470,0.0,0.0,0.0,0.0,0.0,0.0,103.579125,0.456258,0.761050,0.354957,22.706838,43.447928,13.726808,101.604242,0.447435,0.348458,0.750635,22.019519,42.942671,13.930125,25.450629,25.488032,25.103258,24.859498,0.591508,0.092716,0.015173,0.003429,0.0,0.0,0.0,0.0,0.0,0.0
std,2.979173,2.747861e+05,7.666169e+01,5.801384,5.787308,5.837063,5.825592,2.600350,1.006589,0.431576,0.254841,0.0,0.0,0.0,0.0,0.0,0.0,12.791081,0.055193,0.104361,0.099984,5.162686,6.561177,3.844332,13.096095,0.054231,0.048813,0.092712,3.402076,5.471548,2.152913,3.574067,3.590445,3.530678,3.354191,0.583064,0.197807,0.070167,0.034824,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,2.120000e+07,1.610613e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,2.130092e+07,1.610613e+09,22.000000,22.000000,22.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,95.000000,0.419000,0.696000,0.289000,19.000000,39.000000,11.000000,98.222222,0.440654,0.337786,0.738783,20.718149,41.774736,13.159420,24.263158,24.390339,24.000000,24.000000,0.185185,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,2.150062e+07,1.610613e+09,26.000000,26.000000,25.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,103.000000,0.456000,0.769000,0.353000,22.000000,43.000000,14.000000,102.613118,0.451964,0.352770,0.762552,22.081633,43.409091,14.020204,25.666667,25.602652,25.300000,25.235294,0.529412,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,7.000000,2.170031e+07,1.610613e+09,30.000000,30.000000,29.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,112.000000,0.494000,0.833000,0.419000,26.000000,48.000000,16.000000,106.563889,0.464657,0.367196,0.785065,23.540541,45.016598,14.863414,27.015095,27.000000,26.550000,26.230769,0.844156,0.142857,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,15.000000,3.170000e+07,1.610617e+09,53.000000,52.000000,53.000000,51.000000,22.000000,21.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,0.0,196.000000,0.684000,1.000000,0.842000,60.000000,81.000000,29.000000,140.000000,0.571000,0.684000,1.000000,36.000000,62.000000,26.000000,43.000000,49.000000,41.000000,41.000000,17.000000,6.500000,1.875000,0.714286,0.0,0.0,0.0,0.0,0.0,0.0

Data Cleaning Steps
- Remove NBA all-star games, playoff games (games where wins + losses > 82)
- Handle early season games. Use previous season information?
- Add last, game, last 5 games, etc.
- Create efficiency columns and other advanced stats
- Handle, drop OT
- Verify data is reliable

Potential Cleaned Data Structure
- season wins
- season losses
- sesaon winning percentage
- winning percentage last 5, 10 games
- season avg PPG, RPG, APG, FG%, FT%, 3PT%, TOPG
- season avg opponont PPG, RPG, APG, FG%, ...
- game outcome: W/L (TARGET)
- alternative targets: Win Prob., Points

Questions
- Is a row one game or 1 team?
- Normalization, standardization
- Season-to-season stats. Ignore, weight, keep?

In [10]:
# print row with max AVG_PTS
data.loc[data['PTS'].idxmax()]

GAME_DATE_EST                2016-02-14
GAME_SEQUENCE                         1
GAME_ID                        31500001
TEAM_ID                      1610616834
TEAM_ABBREVIATION                   WST
TEAM_CITY_NAME       West NBA All Stars
TEAM_WINS_LOSSES                    1-0
PTS_QTR1                             40
PTS_QTR2                             52
PTS_QTR3                             53
PTS_QTR4                             51
PTS_OT1                               0
PTS_OT2                               0
PTS_OT3                               0
PTS_OT4                               0
PTS_OT5                             0.0
PTS_OT6                             0.0
PTS_OT7                             0.0
PTS_OT8                             0.0
PTS_OT9                             0.0
PTS_OT10                            0.0
PTS                                 196
FG_PCT                             0.55
FT_PCT                              0.5
FG3_PCT                           0.388
AST                                  51
REB                                  59
TOV                                  14
YEAR                          2015-2016
AVG_PTS                             0.0
AVG_FG_PCT                          0.0
AVG_FG3_PCT                         0.0
AVG_FT_PCT                          0.0
AVG_AST                             0.0
AVG_REB                             0.0
AVG_TOV                             0.0
AVG_PTS_QTR1                        0.0
AVG_PTS_QTR2                        0.0
AVG_PTS_QTR3                        0.0
AVG_PTS_QTR4                        0.0
AVG_PTS_OT1                         0.0
AVG_PTS_OT2                         0.0
AVG_PTS_OT3                         0.0
AVG_PTS_OT4                         0.0
AVG_PTS_OT5                         0.0
AVG_PTS_OT6                         0.0
AVG_PTS_OT7                         0.0
AVG_PTS_OT8                         0.0
AVG_PTS_OT9                         0.0
AVG_PTS_OT10                        0.0
Name: 8982, dtype: object